<div class="w-100 h-100 text-center">
  <div>
    <mat-form-field>
      <mat-label for="reportType">Selecciona un tipo de informe:</mat-label>
      <select matNativeControl required id="reportType" [(ngModel)]="selectedReportType" (change)="changeSelected()">
        <option *ngFor="let type of reportTypes" [value]="type">{{ type }}</option>
      </select>
    </mat-form-field>
    <div *ngIf="selectedReportType === 'New Users' || showTable">
      <mat-form-field class="example-full-width">
        <mat-label for="startDate">Fecha de Inicio</mat-label>
        <input matInput  type="text" id="startDate" [(ngModel)]="startDate ">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label for="endDate">Fecha de fin</mat-label>
        <input matInput  type="text" id="endDate" [(ngModel)]="endDate">
      </mat-form-field>
      <button *ngIf="showTable" mat-button color="warn" (click)="applyDateFilter()">Filtrar fechas</button>
    </div>
  </div>

  <button mat-button color="warn" (click)="getReport()">Obtener Reporte</button>
  <button mat-icon-button color="primary" aria-label="Example" (click)="downloadReport()"><mat-icon>cloud_download</mat-icon></button>
  <button mat-button color="primary" (click)="getTableList()">Cargar Tabla</button>
</div>

<mat-form-field *ngIf="showTable" class="example-full-width">
  <mat-label>Filtrar por nombre</mat-label>
  <input matInput class="report-container text-center" type="text" 
  [(ngModel)]="nameFilter" (input)="applyNameFilter()">
</mat-form-field>

<div *ngIf="showTable" class="report-container">
  <br>

  <table mat-table [dataSource]="tableData" class="mat-elevation-z8">

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Date </th>
      <td mat-cell *matCellDef="let element"> {{element.date}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="publication">
      <th mat-header-cell *matHeaderCellDef> Publication </th>
      <td mat-cell *matCellDef="let element"> {{element.publication}} </td>
    </ng-container>

    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef> Amount </th>
      <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<div *ngIf="showViewer" class="report-container">
  <pdf-viewer
  [src]="pdfSrc"
  [render-text]="true"
  [original-size]="false"
  class="ng2-pdf-viewer-container"
></pdf-viewer>
</div>
