<div class="w-100 h-100 text-center">
  <div>
    <mat-form-field>
      <mat-label for="reportType">Selecciona un tipo de informe:</mat-label>
      <select matNativeControl required id="reportType" [(ngModel)]="selectedReportType" (change)="changeSelected()">
        <option *ngFor="let type of reportTypes" [value]="type">{{ type }}</option>
      </select>
    </mat-form-field>
    <div *ngIf="selectedReportType === 'New Users' || selectedReportType === 'All Movements' || showTableSales">
      <mat-form-field class="example-full-width">
        <mat-label for="startDate">Fecha de Inicio</mat-label>
        <input matInput  type="text" id="startDate" [(ngModel)]="startDate ">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label for="endDate">Fecha de fin</mat-label>
        <input matInput  type="text" id="endDate" [(ngModel)]="endDate">
      </mat-form-field>
      <button *ngIf="showTableSales" mat-button color="warn" (click)="applyDateFilter()">Filtrar fechas</button>
    </div>
  </div>

  <button mat-button color="warn" (click)="getReport()">Obtener Reporte</button>
  <button mat-icon-button color="primary" aria-label="Example" (click)="downloadReport()"><mat-icon>cloud_download</mat-icon></button>
  <button mat-button color="primary" (click)="getTableList()">Cargar Tabla</button>
</div>

<mat-form-field *ngIf="showTableSales" class="example-full-width">
  <mat-label>Filtrar por nombre</mat-label>
  <input matInput class="report-container text-center" type="text" 
  [(ngModel)]="nameFilter" (input)="applyNameFilter()">
</mat-form-field>

<div *ngIf="showTableUser" class="report-container">
  <br>

  <table mat-table [dataSource]="tableDataUser" class="mat-elevation-z8">

    <ng-container matColumnDef="year">
      <th mat-header-cell *matHeaderCellDef> Year </th>
      <td mat-cell *matCellDef="let element"> {{element.year}}</td>
    </ng-container>

    <ng-container matColumnDef="week">
      <th mat-header-cell *matHeaderCellDef> Week </th>
      <td mat-cell *matCellDef="let element"> {{element.week}} </td>
    </ng-container>

    <ng-container matColumnDef="startDate">
      <th mat-header-cell *matHeaderCellDef> Start Date </th>
      <td mat-cell *matCellDef="let element"> {{element.startDate}} </td>
    </ng-container>

    <ng-container matColumnDef="endDate">
      <th mat-header-cell *matHeaderCellDef> End Date </th>
      <td mat-cell *matCellDef="let element"> {{element.endDate}}</td>
    </ng-container>

    <ng-container matColumnDef="userQuantity">
      <th mat-header-cell *matHeaderCellDef> User Quantity </th>
      <td mat-cell *matCellDef="let element"> {{element.userQuantity}}</td>
    </ng-container>
  <tr mat-header-row *matHeaderRowDef="userDisplayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: userDisplayedColumns;"></tr>
  </table>
</div>

<div *ngIf="showTableMov" class="report-container">
  <br>

  <table mat-table [dataSource]="tableDataMov" class="mat-elevation-z8">

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Date </th>
      <td mat-cell *matCellDef="let element"> {{element.date}} </td>
    </ng-container>

    <ng-container matColumnDef="seller">
      <th mat-header-cell *matHeaderCellDef> Seller </th>
      <td mat-cell *matCellDef="let element"> {{element.seller}} </td>
    </ng-container>

    <ng-container matColumnDef="buyer">
      <th mat-header-cell *matHeaderCellDef> Buyer </th>
      <td mat-cell *matCellDef="let element"> {{element.buyer}} </td>
    </ng-container>

    <ng-container matColumnDef="publication">
      <th mat-header-cell *matHeaderCellDef> Publication </th>
      <td mat-cell *matCellDef="let element"> {{element.publication}} </td>
    </ng-container>

    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef> Amount </th>
      <td mat-cell *matCellDef="let element"> {{element.amount}}</td>
    </ng-container>
  <tr mat-header-row *matHeaderRowDef="movDisplayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: movDisplayedColumns;"></tr>
  </table>
</div>

<div *ngIf="showTableSales" class="report-container">
  <br>

  <table mat-table [dataSource]="tableDataSales" class="mat-elevation-z8">

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Date </th>
      <td mat-cell *matCellDef="let element"> {{element.date}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="publication">
      <th mat-header-cell *matHeaderCellDef> Publication </th>
      <td mat-cell *matCellDef="let element"> {{element.publication}} </td>
    </ng-container>

    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef> Amount </th>
      <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="salesDisplayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: salesDisplayedColumns;"></tr>
  </table>
</div>

<div *ngIf="showViewer" class="report-container">
  <pdf-viewer
  [src]="pdfSrc"
  [render-text]="true"
  [original-size]="false"
  class="ng2-pdf-viewer-container"
></pdf-viewer>
</div>

<div style="display: block;" *ngIf="barChartData && showGraph">
  <canvas
    baseChart
    class="chart"
    [data]="barChartData"
    [options]="barChartOptions"
    [plugins]="barChartPlugins"
    [type]="barChartType"
    (chartHover)="chartHovered($event)"
    (chartClick)="chartClicked($event)"
  >
  </canvas>
</div>
<div *ngIf="!barChartData">
  <p>Cargando...</p>
</div>

