footer{
    backdrop-filter: blur(10px); /* Aplicar difuminado al contenido detrás */
    bottom: 0;
    width: 100%;
    min-height: 150px;
    max-height: max-content;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    z-index: 1000 !important;
}


.boddy{
    width: 100%;
}
.iz,.center,.der{
    position: relative;
    display: inline-block;
    width: 33.3%;
}
.iz{
    bottom: 110px;
    
}
.center{
    
    text-align: right !important;
}

.inline {
    display: inline-block;
    padding-left: 20px;
   
}

.flag{
    border-radius: 50%;
    display: block;
    width: 30px;
    
}
.cursor{
    cursor: pointer;
}
@media(max-width: 850px){
    .iz,.center,.der{
        display: contents;
        width: 100%;
    }
}