<div>
    <div class="iz">
        Todos los derechos reservados
    </div>
    <div class="center">
        centro
    </div>
    <div class="der">
        <p>{{"Idioma" | translate}}</p>
        <div class="inline"> <a (click)="setIdiom('es-CO')">Es</a></div>
        <div class="inline"> <a (click)="setIdiom('en')">En</a></div>
        <div class="inline"> <a (click)="setIdiom('pt-PT')">Pr</a></div>
        <div class="inline"> <a (click)="setIdiom('de')">Alm</a></div>
        <div class="inline"> <a (click)="setIdiom('fr')">Fra</a></div>       
    </div>


</div>