body{
    height: 100% !important;
    width: 100%;
    overflow-x: hidden;
    max-height: max-content;
    min-width: 500px;
}
.text-white{
    color: #ffffff;
}
.row1{
    margin:5px;
}
.center{
    display:inline-block;
    width:30%;
    right:0;
    position: absolute;
    top:15px;
    padding-left: 80px;

}
#notificationObj{
    
    min-width: 370px;
    display:none;
    width: 37%;
    left:17%;
    position: fixed !important; 
    background-color: #333; /* Ancho fijo del contenedor */
    max-height: 90vh; /* Altura fija del contenedor */
    overflow: auto; /* Agrega barras de desplazamiento automáticamente cuando sea necesario */
    border: 1px solid #ccc; /* Borde para mayor claridad */
    z-index: 1000;
    top:80px;
    max-width:419.725px;
    
    height:auto;
}
.filter{
    display: none;
}
#togle{
    display: none;
}
.button1{
    position: relative !important;
    left:60% !important;
    top:0;
    padding-right: 6px;

}
.mat-mdc-menu-item .mat-icon {
    margin-right:0 ;
}

.scrollable-container::-webkit-scrollbar {
    width: 10px; /* Ancho de la barra de desplazamiento */
}

/* Estilo del pulgar de la barra de desplazamiento */
.scrollable-container::-webkit-scrollbar-thumb {
    background: #ccc; /* Color de fondo del pulgar de la barra de desplazamiento */
    border-radius: 5px; /* Borde redondeado del pulgar */
}

/* Cambiar el color del pulgar al pasar el cursor */
.scrollable-container::-webkit-scrollbar-thumb:hover {
    background: #888; /* Color del pulgar cuando se pasa el cursor */
}
.buttonshow1{display :block;
}
.icon-noti{
    width: 30px;
    float: left;
    padding-left: 15px;

}
.p{
    float: left;
    padding-left: 5px;
}
.menu{
    display: none;
    height: 60px;
    position: relative;
    left: 80%;
    padding-right: 0;
}
#logo{
    position: absolute;
    display: inline-block;
    width: 300px;
    left: 15px;
    height: 23px;
    top: 23px;

}
.selected:active, .selected:hover{
    background-color: #007bff  !important; /* Cambia el color de texto en el hover */
    text-decoration: underline; /* Agrega subrayado en el hover */
}
.options{
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    display: inline-flex;
    text-align: end;
    align-items: center;
}
#p2{
    margin-left: 50px;

}
#p1,#p2{
     position: relative;
    left: 70%;
}

.img-left{
  max-width: 20%;
  height: 20%;
  position: fixed;
  bottom: 0;
  left: 13px;

}
.log{
    position: absolute;
    width: 15%;
    height: 5%;
    bottom: 0;
    z-index: 100000;
    top: 10.5%;
}

.head{
    min-width: 437.04;
    overflow-y: hidden;
   background: linear-gradient(to right, #FFD700, #FFC200, #FFAE00, #FF9900, #FF8500, #FF7100, #FF5C00, #FF4800, #FF3300);
  /*  background: linear-gradient(to right, #2a0b46, #52128a,#6915b3,#7f0ce4,#7c107c,#be0ebe,#f702f7); */

    height: 70px;
    width: 80%;
    z-index: 1000;
    position: fixed !important; 
    left: 10%;
    border-top-left-radius: 0; /* Redondea la esquina superior izquierda a 0 (sin redondeo) */
    border-top-right-radius: 0; /* Redondea la esquina superior derecha a 0 (sin redondeo) */
    border-bottom-left-radius: 30px; /* Redondea la esquina inferior izquierda */
    border-bottom-right-radius: 30px; 
}
section{
    top: 70px;
    position: relative;
    justify-content: space-between;
    display: flex;
    min-height: 100%;
    height: max-content;
    width: 100%;
    margin-top: 10px;
}



.container-inputs{
    position: fixed;
    text-align: left;
    width: 150px;
    left: 0;
    top: 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); 
    display: inline-flex;
    height: 100%;
    padding-top: 7%;
}


h2{
    display: inline-block;
    left: 20px;
    position: relative; 
    margin-top: 30px
}


.div-inlane{
    width:  70%;
    margin-left: 20%;
    right: 0;
    position: relative;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); 
    height: max-content;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 100px;
  
}
@media(max-width: 690px){
   .options{
     display: none;
   }
   .div-inlane{
    width: 70%;
    display: inline-block;
    height: max-content;
    margin-left: 16%;
    text-align: center;
}



}
@media(max-width: 850px){
.menu{
    display: inline;
}
    #p1,#p2{
        left: 70%;
    }
.options{
    display: none;
}
.filter{
    display: initial;
    position: relative;
    top: 5px;
    left: 25%;
    height: max-content;
    display: inline-block;
  
}
.container-inputs{
    display: none;
    width: 0;
}

.head{
    width: 90%;
    left: 5%;

}

.log{
 display: none;
}
.div-inlane{
    width: 70%;
    display: inline-block;
    height: max-content;
    margin-left: 16%;
    text-align: center;
}
}
@media (max-width:400px) {
    #notificationObj{
        left: 0;
    }
    }
footer{
    backdrop-filter: blur(10px); /* Aplicar difuminado al contenido detrás */
    bottom: 0;
    width: 100%;
    min-height: 150px;
    max-height: max-content;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    z-index: 1000 !important;
}
