
<button mat-icon-button class="button"  (click)="return()">
    <mat-icon aria-hidden="false">close</mat-icon>
</button>

<div class="container" >
  <h2>Dueño: {{model.nameOwner}}</h2>
  <p>
    Nombre: {{model.animalName}}
  </p>
  <p>
    Tipo de animal: {{model.typeName}}
  </p>
  <p>
    Raza: {{model.breedName}}
  </p>
  <p>
    Edad: {{model.age}}
  </p>
  <p>
    Peso: {{model.weight}} kilos
  </p>
  <p>
    Ciudad: {{model.cityName}}
  </p>
  <p>
    Descripción: {{model.description}}
  </p>
</div>
  
