
<button mat-icon-button class="button"  (click)="return()">
    <mat-icon aria-hidden="false">close</mat-icon>
</button>

<div class="container" >
  <h2>{{"Dueño"| translate}}: {{model.nameOwner}}</h2>
  <hr> 
  <p>
    {{"Nombre" | translate}}: {{model.animalName}}
  </p>
  <p>
    {{"Tipo de animal" | translate}}: {{model.typeName}}
  </p>
  <p>
    {{"Raza" | translate}}: {{model.breedName}}
  </p>
  <p>
    {{"Edad" | translate}}: {{model.age}}
  </p>
  <p>
    {{"Peso" | translate}}: {{model.weight}} kg
  </p>
  <p>
    {{"Ciudad" | translate}}: {{model.cityName}}
  </p>
  <p>
    {{"Descripción" | translate}}: {{model.description}}
  </p>
</div>
  
