<div class="row">
   
    <div class="col-sm-10 p-3 shadow-lg" *ngFor="let card of publications1" >
       


    <app-property-card [objeto]="card" [propertyId]="id" >
      
    </app-property-card>
    </div>
</div>
<div  class="w1-25  position-absolute justify-right top-0">
    <div class="fixe-position " id="collapseSections">
        <mat-toolbar class="row1">
            <mat-form-field class="cols">
                <mat-label>Type your query</mat-label>
                <input id="query" matInput type="text" [(ngModel)]="query" (input)="Query()" >
                <button *ngIf="query" matSuffix mat-icon-button aria-label="Clear" (click)="query=''">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
            
            <button  mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-butto*n with a menu" matSuffix aria-label="Clear" id="buttonSorts" >
                <mat-icon >more_vert</mat-icon>
                
              </button>
              <mat-menu #menu="matMenu" id="menuSorts">
                <p class="displaygrid">
                <span class="title">Sort by</span></p>
                <button id="sortByCity" mat-menu-item (click)="sortByCity()">
                  <mat-icon>dialpad</mat-icon>
                  <span>City</span>
                </button>
                <button id="sortByWeight" mat-menu-item (click)="sortByWeight()">
                  <mat-icon>dialpad</mat-icon>
                  <span>weight</span>
                </button>
                <button id="sortByAnimalName" mat-menu-item (click)="sortByAnimalName() ">
                  <mat-icon>dialpad</mat-icon>
                  <span>AnimalName</span>
                </button>
            </mat-menu>
            <button id="sortInvers" mat-icon-button aria-label="Example icon-button with heart icon" (click)="sortInvers()">
                <mat-icon>cached</mat-icon>
            </button>
          </mat-toolbar>
            
        <mat-accordion class="row1">
            <mat-expansion-panel id="cityPanel" class="row1">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        City
                    </mat-panel-title>
                    <mat-panel-description>
                        Filter by cities
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <mat-form-field>
                    <mat-label>Select a city</mat-label>
                    <mat-select name="selectCity" [(ngModel)]="filter.idCity">
                        <mat-option id="optionCity" (click)="updatePF()" value="0">None</mat-option>
                        <mat-option (click)="updatePF()" *ngFor="let city of Citys"
                            [value]="city.idCity">{{city.cityName}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-expansion-panel>
            <mat-expansion-panel id="panelSeller">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Seller
                    </mat-panel-title>
                    <mat-panel-description>
                        Filter by sellers
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <mat-form-field>
                    <mat-label>Select a seller</mat-label>
                    <mat-select name="selectSeller" [(ngModel)]="filter.idOwner">
                        <mat-option id="optionSeller" (click)="updatePF()" value="0">None</mat-option>
                        <mat-option (click)="updatePF()" *ngFor="let seller of Sellers"
                            [value]="seller.idUser"><mat-icon>face</mat-icon>{{seller.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-expansion-panel>

            <mat-expansion-panel id="panelWeight">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Weight
                    </mat-panel-title>
                    <mat-panel-description>
                        Filter by weights
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <mat-label>Select a range of weight</mat-label>
                <mat-form-field>
                    <mat-label>Greater than</mat-label>
                    <input id="inputWeightI" matInput (input)="updatePF()" [(ngModel)]="filter.weightI">
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Less than</mat-label>
                    <input id="inputWeightF" matInput (input)="updatePF()" [(ngModel)]="filter.weightF">
                </mat-form-field>
            </mat-expansion-panel>


            <mat-expansion-panel id="panelGender">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Gender
                    </mat-panel-title>
                    <mat-panel-description>
                        Filter by gender
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <mat-form-field>
                    <mat-label>Select a gender</mat-label>
                    <mat-select name="selectGender" [(ngModel)]="filter.idGender">
                        <mat-option id="optionGender" (click)="updatePF()" value="0">None</mat-option>
                        <mat-option (click)="updatePF()" *ngFor="let gender of Genders"
                            [value]="gender.idGender">{{gender.genderName}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-expansion-panel>


            <mat-expansion-panel id="PanelAnimalT">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Animal Type
                    </mat-panel-title>
                    <mat-panel-description>
                        Filter by animal Type
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <mat-form-field>
                    <mat-label>Select a animal Type</mat-label>
                    <mat-select name="selectAnimalT" [(ngModel)]="filter.idAnimalType">
                        <mat-option id="optionAnimalT" (click)="updateBreed()" (click)="updatePF()" value="0">None</mat-option>
                        <mat-option (click)="updateBreed()" (click)="updatePF()" *ngFor="let type of AnimalTypes"
                            [value]="type.idAnimalType">{{type.animalTypeName}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-expansion-panel>


            <mat-expansion-panel id="panelBreed">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Animal Breed
                    </mat-panel-title>
                    <mat-panel-description>
                        Filter by animal breed
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <mat-form-field>
                    <mat-label>Select a animal breed</mat-label>
                    <mat-select name="selectBreed" [(ngModel)]="filter.idBreed">
                        <mat-option id="optionBreed" (click)="updatePF()" value="0">None</mat-option>
                        <mat-option (click)="updatePF()" *ngFor="let Breed of Breeds1"
                            [value]="Breed.idBreed">{{Breed.breedName}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-expansion-panel>


            <mat-expansion-panel id="panelAge">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Age
                    </mat-panel-title>
                    <mat-panel-description>
                        Filter by age
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <mat-label>Select a range of age</mat-label>
                <mat-form-field>
                    <mat-label>Greater than</mat-label>
                    <input id="inputAgeI" matInput (input)="updatePF()" [(ngModel)]="filter.ageI">
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Less than</mat-label>
                    <input id="inputAgeF" matInput (input)="updatePF()" [(ngModel)]="filter.ageF">
                </mat-form-field>
            </mat-expansion-panel>
        </mat-accordion>
    </div>