
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
   
</head>
<body>
    <header class="head">
        <div class="options">
            <p id="p1">
               <a>Ingresar </a> 
            </p>
            <p id="p2" >
              <a> Registrar </a>  
            </p>
        </div>
        Perfect march
       
    </header>
    <section class="section">
       
        <div class="log">
            <img [src]="imgUrl" class="img-left">
        </div>
            <div class="container-inputs">
      
                <mat-nav-list style="width: 100%;">
                    <a mat-list-item  *ngFor="let link of links" [routerLink]="link.href" (click)="Routerl(link.href)" [activated]="false"
                     >
                     {{link.text}}
                    </a>
                    
            <a mat-list-item *ngIf="hrefActual==='/PropertyList'" name="button_filters" type="submit" data-toggle="collapse" href="#collapseSection" aria-expanded="false" aria-controls="collapseSection">
            Filters</a>
                  </mat-nav-list>
        </div>
    <div class="div-inlane">
       
            <router-outlet >
                
            </router-outlet>   
    </div>
   
       
    </section>
    <footer>
        Todos los derechos reservados 
    </footer>
</body>




