header{
    width: 100% !important;
    height: 80px;
    background: linear-gradient(to right, #000000, #001a00, #003400, #004e00, #006800, #008200, #009c00, #00b600, #00d000, #00ea00, #00ff00);
    color: white;
    z-index: 1000000;
}
.container-menu{
    display: inline-block;
}
h2{
    display: inline-block;
    left: 20px;
    position: relative; 
    margin-top: 30px
}