<div class="boddy">
    
    <div class="container">
        <div class="row justify-content-center align-items-center" style="min-height: 100vh;">
            <div class="bg-gradient text-center">
                <h1 class="text-danger" >Reconect</h1>
                <h5>your session has expired</h5>
                <hr>
                <p>Do you want to continue in PeTFectMatch?</p>
                <div class="row ">
                    <div class="col-6">
                        <button type="submit" class="btn btn-outline-danger " style="width: max-content;" (click)="cancel()">
                            Closed</button>
                    </div>
                  <div class="col-6">
                    <button type="submit" class="btn btn-outline-success " style="width: max-content;" (click)="acept()"
                    >Acept</button>
                  </div>
                    
                     
                </div>
               
            
                </div>
            </div>
        </div>
    
</div>
