<div class="boddy">
    
    <div class="container">
        <div class="row justify-content-center align-items-center" style="min-height: 100vh;">
            <div class="bg-gradient text-center">
                <h1 class="text-danger" >{{"Reconectar" | translate}}</h1>
                <h5>{{"Tu sesión ha caducado" | translate}}</h5>
                <hr>
                <p>{{"¿Quieres continuar en PeTFectMatch?" | translate}}</p>
                <div class="row ">
                    <div class="col-6">
                        <button type="submit" class="btn btn-outline-danger " style="width: max-content;" (click)="cancel()">
                            {{"Cerrar" | translate}}</button>
                    </div>
                  <div class="col-6">
                    <button type="submit" class="btn btn-outline-success " style="width: max-content;" (click)="acept()"
                    >{{"Aceptar" | translate}}</button>
                  </div>
                    
                     
                </div>
               
            
                </div>
            </div>
        </div>
    
</div>
<footer>
    <app-footer>

    </app-footer>
</footer>

