
        <div class="card ">
            <div class="container">
            <div class="card-img-wrapper">
                <img *ngIf="objeto.images.length >0" class="card-img-top" src="data:image;base64,{{objeto.images[0].dataImage}}">
                <ul class="lint-inline text-center member-icons animate">
                    <li class="list-inline-item">
                        <button class="btn bg-btn Edit"><span class="bi bi-pencil-square "></span></button>
                    </li>
                    <li class="list-inline-item">
                        <button class="btn Delete"><i class="bi bi-eraser-fill"></i></button>
                    </li>
                </ul>
            </div>
            <div class="card-body p-1">
                <h3>{{objeto.animalName}}</h3>
                <div class="row">
               <p class="text-success col-md-6">animal type </p> <h4 class="col-md-6">{{objeto.typeName}}</h4>
                </div>
                {{objeto.description}}
                
            </div>
        </div>
        </div>