
<button mat-icon-button [matMenuTriggerFor]="menu" class="menu" *ngIf="dat">
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="openAdd(objeto)">
    <mat-icon>edit</mat-icon>
    {{"Editar" | translate}}
  </button>
  <button mat-menu-item (click)="deletePublication(objeto)">
    <mat-icon>delete</mat-icon>
    {{"Eliminar" | translate}}
  </button>
</mat-menu>
<div class="card">
  <div class="container">

    <div class="card-img-wrapper">
      <h3 class="text-success">{{objeto.animalName}} {{"de" | translate}} {{objeto.nameOwner}}</h3>
      <div style="height: 30px;">

      </div>

      <a (click)="openDialog(objeto)"> <img *ngIf="objeto.images.length >0" class="card-img-top img-fluid"
          src="data:image;base64,{{objeto.images[0].dataImage}}">
      </a>
    </div>
    <div class="card text-center">
      <div class="card-body p-1">

        <div class="row">
          <p class="text-success col-md-6">{{"Tipo de animal" | translate}}: </p>
          <h4 class="col-md-6">{{objeto.typeName | translate}}</h4>
          <p class="text-success col-md-6">{{"Precio" |  translate}}: </p>
          <p class="col-md-6">{{objeto.price}} {{'COL$' | translate}}</p>
        </div>

        <div class="card-body" *ngIf="dat == false">
          <button (click)="buy(objeto)" class="btn btn-outline-success">
            <i class="fas fa-shopping-cart"></i> {{"Comprar" | translate}} 🐾🐴 
          </button>
        </div><app-comments [id]="objeto.idPublication"></app-comments>
      </div>
      <div>
      </div>
    </div>