/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';




html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
    min-width:450px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.dialog-custom-style{
   width: 30%;
   height: max-content;
   @media (max-width: 750px) {
    width: 70%;
  
   }
}
.dialog-custom-style-2{
    width: 60%;
    overflow-y: scroll;
    height: max-content;
    @media (max-width: 750px) {
     width: 85%;
   
    }
 }
.snackRegister{
    background-color: blue;
}