.p-tras {
  top: 10px;
  position: relative;
}
 body{
  height: 100% !important;
  width: 100%;
  
 }
 footer{
  height: 15%;
 }

 .next{
  display: none;
 }
 .right {
    height: 100% !important;
  }


  .wit {
    width: 75%;
  }

  .but {
    position: relative;
    
    width: 70%;

  }

  .bg-dark {
    background-color: rgba(0, 0, 0, 0.7) !important;
    height: 450px;
    top: 10%;
    position: relative;
    width: 700px;
  }
  footer{
    backdrop-filter: blur(10px); /* Aplicar difuminado al contenido detrás */
    width: 100%;
    height: 250px;
    background-color: #333;
    color: white;
    text-align: center;
    z-index: 1000 !important;
  }

  @media(max-width: 768px) {
 .next{
  display: inline;
  position: absolute;
  top: 80% ;
  left: 80%;
  
 }
 .bg-dark{
  width: 450px;
 }
  }

  .bg-image {
    background-image: url('src\assets\loginBack.png');
    /* Reemplaza con la ruta de tu imagen */
    background-size: cover;
    /* Ajusta el tamaño de la imagen para cubrir el elemento */
    background-position: center;
    /* Centra la imagen */
    background-repeat: no-repeat;
    /* Evita que la imagen se repita */
    /* Otras propiedades de fondo como color de fondo, opacidad, etc., si es necesario */
    color: #fff;
    /* Ejemplo de color de texto para asegurarse de que el texto sea legible en la imagen de fondo */
  }
  .container-main {
  max-width: 1200px; /* Ajusta el valor según tus necesidades */
  margin: 0 auto;
  padding: 15px;
}