<app-login *ngIf="dat == true"></app-login>

<body class=" h-100 w-100 bg-image  " *ngIf="dat == false">
    <section class="w-100 h-100">
        <div class="row w-100 h-100">
            <div class="col-md-6 border left ">
                col izquierda
            </div>
            <div class="col-md-6  right text-center">
                <div class="bg-dark text-light rounded">
                    <h1>Unete a PeTFectMatch</h1>
                    <form [formGroup]="form">
                        <mat-grid-list cols="2" rowHeight="4:1">
                            <mat-grid-tile>
                                <mat-form-field class="wit">
                                    <mat-label>Name</mat-label>
                                    <input matInput placeholder="Your name" formControlName="name">
                                    <mat-hint>Name</mat-hint>
                                    <mat-error *ngIf="form.get('name')?.hasError('required')">Name is
                                        required</mat-error>

                                </mat-form-field>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <mat-form-field class="wit">
                                    <mat-label>Enter your email</mat-label>
                                    <input matInput placeholder="pat@example.com" formControlName="email">
                                    <mat-error *ngIf="form.get('email')?.hasError('required')" >email is
                                        required</mat-error>
                                    <mat-error *ngIf="form.get('email')?.hasError('email')" form.invalid>Not a valid
                                        email</mat-error>
                                    <mat-hint>Email</mat-hint>
                                </mat-form-field>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <mat-form-field class="wit">
                                    <mat-label>Enter your password</mat-label>
                                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                                    <button mat-icon-button matSuffix (click)="hide = !hide"
                                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                    </button>
                                    <mat-error *ngIf="form.get('password')?.hasError('required')">Password is
                                        required</mat-error>
                                    <mat-error *ngIf="form.get('password')?.hasError('minlength')">Password must be at
                                        least 6 characters long</mat-error>
                                    <mat-hint>Password</mat-hint>
                                </mat-form-field>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <mat-form-field class="wit">
                                    <mat-label>City</mat-label>
                                    <mat-select formControlName="idCity">
                                        <mat-option *ngFor="let item of listCity" [value]="item.idCity">{{item.cityName}}</mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="form.get('idCity')?.hasError('required')">Select a
                                        City</mat-error>
                                    <mat-hint>City</mat-hint>
                                </mat-form-field>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <mat-form-field class="wit">
                                    <mat-label>Choose a date</mat-label>
                                    <input matInput [matDatepicker]="picker" formControlName="birthDate">
                                    <mat-error *ngIf="form.get('birthDate')?.hasError('required')">Select your birth
                                        date</mat-error>
                                    <mat-hint>MM/DD/YYYY</mat-hint>
                                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>

                                </mat-form-field>

                            </mat-grid-tile>
                            <mat-grid-tile>
                                <mat-form-field class="wit">
                                    <mat-label>Code Paypal</mat-label>
                                    <input matInput placeholder="Your code" formControlName="codePay">
                                    <mat-error *ngIf="form.get('codePay')?.hasError('required')">Code is
                                        required</mat-error>
                                    <mat-hint>Code Paypal</mat-hint>
                                </mat-form-field>
                            </mat-grid-tile>
                        </mat-grid-list>
                        <div>
                            <button class="btn btn-lg btn-primary btn-block wit but" type="submit"
                                >Register</button>

                        </div>

                        <diV>

                        </diV>

                    </form>
                    <p class="w-100">¿Ya estás registrad@? <a dat=true (click)="login()" style="cursor: pointer;"> log
                            in</a> </p>

                </div>

            </div>
        </div>

    </section>

</body>