
<div id="notifications" >

    <mat-card *ngFor="let notification of notifications" class="card shadow-lg">
        <div class="row1">
            <div class="column1">
    <mat-card-header *ngIf="notification.typeNotification==0" >
        <p class="text-color">{{notification.nameUserFK}} {{"realizo la compra de"| translate}}  {{notification.namePublication}}</p></mat-card-header>
        <mat-card-header *ngIf="notification.typeNotification==1" >
             <p class="text-color">{{"ha realizado la compra de"| translate}}&nbsp;{{notification.namePublication}}</p></mat-card-header>
            <mat-card-header *ngIf="notification.typeNotification==2" >
                <p class="text-color">{{notification.nameUserFK}}&nbsp; {{"ha repondido a la publicacion de"| translate}}&nbsp;{{notification.namePublication1}}</p></mat-card-header>
                <mat-card-header *ngIf="notification.typeNotification==3" ><p class="text-color">
                    {{notification.nameUserFK}}&nbsp;{{"ha respondido a tu comentario de la publicacion"| translate}}&nbsp;{{notification.namePublication1}}</p></mat-card-header>
       
        <mat-card-content>{{notification.description}}</mat-card-content>
        <mat-card-actions><a class="deleteNoti"  (click)="removeNotification((notification.idNotification) )"><mat-icon>delete</mat-icon> </a></mat-card-actions>
        </div>
        <div class="column2 imageNoti">
        <img mat-card-image width="100" src="data:image;base64,{{notification.imagePublication}}"></div></div>
        
        
    </mat-card>
</div>