.container-file {
    overflow: hidden;
}

@media (max-width: 900px) {
    .form-row {
        position: relative;
        width: 100%;
        left: 0 !important;
    }

    

    .buttons a {
        position: absolute;
        left: 0;
        bottom: 0;
        width: max-content !important;
    }
    .buttons button{
        position: relative;
        left: 32%;
        width: max-content !important;
    }

}

.form-row {
    position: relative;
    left: 8%;
}

.buttons {
    position: relative;
    display: inline-block;
    width: 100% !important;
    height: max-content;
}

.buttons button {
    margin-left: 33%;
    margin-right: 17% ;
}

/**********File Inputs**********/
.container-input {
    text-align: center;
    background: #282828;
    border-top: 5px solid #c39f77;
    padding: 50px 0;
    border-radius: 6px;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile+label {
    max-width: 80%;
    font-size: 1.25rem;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
}

.inputfile+label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    margin-right: 0.25em;
}

.iborrainputfile {
    font-size: 16px;
    font-weight: normal;
    font-family: 'Lato';
}

/* style 1 */

.inputfile-1+label {
    color: #fff;
    background-color: #c39f77;
}

.inputfile-1:focus+label,
.inputfile-1.has-focus+label,
.inputfile-1+label:hover {
    background-color: #9f8465;
}