<div class="card1 text-center ">
  <div class="body ">




    <form class="container p-2 starter-template w-90" novalidate>

      <h1 class="text-success">{{title}} publication</h1>


      <div *ngFor="let image of this.publication.images" class="displayBlock">
        <div  class="divforlabel"> 
          <button *ngIf="image.dataImage" class="cancelButton" mat-icon-button aria-label="Example icon-button with a menu" matSuffix
            aria-label="Clear" (click)="deleteSpace(image.number)" id="deleteSpace{{image.number}}"><mat-icon
             >cancel</mat-icon></button>
          <label for="image{{image.number}}"  class="label displayBlock">
            <div class="divImg" [style]="image.dataImage!==undefined?'border: none':'' ">
              <p *ngIf="!image.dataImage"><mat-icon>add_photo_alternate</mat-icon>Click to add image</p>
              <div *ngIf="image.dataImage">


                <img class="img" src="data:image;base64,{{image.dataImage}}" accept="image/*">
              </div>
            </div>
          </label>
          <input class="noDisplay" type="file" name="Img" (change)="getImage($event,image.number)"
            id="image{{image.number}}">

        </div>
      </div>
      <mat-form-field class="w100">
        <mat-label>Name</mat-label>
        <input matInput type="text" class="" [(ngModel)]="publication.animalName" name="animalName" id="animalName" required>
      </mat-form-field>

      <mat-accordion class="row1">
        <mat-expansion-panel id="idcity">
          <mat-expansion-panel-header>
            <mat-panel-title>
              City
            </mat-panel-title>
            <mat-panel-description>
              choose a cities
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-form-field >
            <mat-label>Select a city</mat-label>
            <mat-select class="w100" [(ngModel)]="publication.idCity" name="idcity">
              <mat-option *ngFor="let city of Citys" [value]="city.idCity" class="city" >{{city.cityName}}</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-expansion-panel>

        <mat-expansion-panel id="idgender">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Gender
            </mat-panel-title>
            <mat-panel-description>
              choose a gender
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-form-field>
            <mat-label>Select a gender</mat-label>
            <mat-select class="w100" [(ngModel)]="publication.idGender" name="idgender" >
              <mat-option *ngFor="let gender of Genders" [value]="gender.idGender" class="gender">{{gender.genderName}}</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-expansion-panel>

        <mat-expansion-panel id="idAnimalType">
          <mat-expansion-panel-header>
            <mat-panel-title>
              AnimalType
            </mat-panel-title>
            <mat-panel-description>
              choose a animalType
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-form-field>
            <mat-label>Select a animalType</mat-label>
            <mat-select class="w100" [(ngModel)]="publication.idAnimalType" name="idAnimalType" >
              <mat-option *ngFor="let type of AnimalTypes" [value]="type.idAnimalType"
                (click)="updateBreed(type.idAnimalType)" class="AnimalType">{{type.animalTypeName}}</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-expansion-panel>
        
        <mat-expansion-panel id="breed">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Breed
            </mat-panel-title>
            <mat-panel-description>
              choose a breed
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-form-field>
            <mat-label>Select a breed</mat-label>
            <mat-select class="w100" [(ngModel)]="publication.idBreed" name="breed" >
              <mat-option *ngFor="let breed of Breeds1" [value]="breed.idBreed" class="optBreed">{{breed.breedName}}</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-expansion-panel>
      </mat-accordion>


      <mat-form-field class="w100 mt">
        <mat-label>Weight in kg</mat-label>
        <input matInput type="text" [(ngModel)]="publication.weight" name="weight" id="weight" required>
      </mat-form-field>
      <mat-form-field class="w100">
        <mat-label>Price</mat-label>
        <input matInput type="text" [(ngModel)]="publication.price" name="price" id="price" required>
      </mat-form-field>
      <mat-form-field class="w100">
        <mat-label>Age</mat-label>
        <input matInput type="text" [(ngModel)]="publication.age" name="age" id="age" required>
      </mat-form-field>

      <mat-form-field class="w100">
        <mat-label for="exampleFormControlTextarea1">Description</mat-label>
        <textarea matInput [(ngModel)]="publication.description" name="description" rows="3" required></textarea>
      </mat-form-field>



      <div class="buttons">
        <a href="PropertyList" class="btn btn-outline-warning w-25  ">Cancel</a>
        <button type="submit" class="btn btn-outline-success w-25 " (click)="addEdit()">{{title}}</button>
      </div>

    </form>


  </div>
</div>