<div class="card1 text-center ">
  <div class="body ">



    <form class="container p-2 starter-template w-90" novalidate>

      <h1 class="text-success">{{title | translate}} {{'publicación' | translate}} </h1>

      <div *ngFor="let image of this.publication.images" class="displayBlock">
        <div  class="divforlabel"> 
          <button *ngIf="image.dataImage" class="cancelButton" mat-icon-button aria-label="Example icon-button with a menu" matSuffix
            aria-label="Clear" (click)="deleteSpace(image.number)" id="deleteSpace{{image.number}}"><mat-icon
             >{{'Cancelar' |translate}}</mat-icon></button>
          <label for="image{{image.number}}"  class="label displayBlock">
            <div class="divImg" [style]="image.dataImage!==undefined?'border: none':'' ">
              <p *ngIf="!image.dataImage"><mat-icon>add_photo_alternate</mat-icon>{{'Agregar una imagen.' | translate}}</p>
              <div *ngIf="image.dataImage">


                <img class="img" src="data:image;base64,{{image.dataImage}}" accept="image/*">
              </div>
            </div>
          </label>
          <input class="noDisplay" type="file" name="Img" (change)="getImage($event,image.number)"
            id="image{{image.number}}">

        </div>
      </div>
      <mat-form-field class="w100">
        <mat-label>{{'Nombre' | translate}}</mat-label>
        <input matInput type="text" class="" [(ngModel)]="publication.animalName" name="animalName" id="animalName" required>
      </mat-form-field>

      <mat-accordion class="row1">
        <mat-expansion-panel id="idcity">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{'Ciudad' | translate}}
            </mat-panel-title>
            <mat-panel-description>
              {{'Selecciona una' | translate}} {{'Ciudad' | translate}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-form-field >
            <mat-label>{{'Selecciona una' | translate}} {{'Ciudad' | translate}}</mat-label>
            <mat-select class="w100" [(ngModel)]="publication.idCity" name="idcity">
              <mat-option *ngFor="let city of Citys" [value]="city.idCity" class="city" >{{city.cityName}}</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-expansion-panel>

        <mat-expansion-panel id="idgender">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{'Sexo' | translate}}
            </mat-panel-title>
            <mat-panel-description>
              {{'Seleccionar' | translate}} {{'un' | translate}} {{'Sexo' | translate}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-form-field>
            <mat-label>{{'Seleccionar' | translate}} {{'un' | translate}} {{'Sexo' | translate}}</mat-label>
            <mat-select class="w100" [(ngModel)]="publication.idGender" name="idgender" >
              <mat-option *ngFor="let gender of Genders" [value]="gender.idGender" class="gender">{{gender.genderName}}</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-expansion-panel>

        <mat-expansion-panel id="idAnimalType">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{'Tipo de animal' | translate}}
            </mat-panel-title>
            <mat-panel-description>
              {{'Seleccionar' | translate}} {{'un' | translate}} {{'Tipo de animal' | translate}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-form-field>
            <mat-label>{{'Seleccionar' | translate}} {{'un' | translate}} {{'Tipo de animal' | translate}}</mat-label>
            <mat-select class="w100" [(ngModel)]="publication.idAnimalType" name="idAnimalType" >
              <mat-option *ngFor="let type of AnimalTypes" [value]="type.idAnimalType"
                (click)="updateBreed(type.idAnimalType)" class="AnimalType">{{type.animalTypeName}}</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-expansion-panel>
        
        <mat-expansion-panel id="breed">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{'Raza' | translate}}
            </mat-panel-title>
            <mat-panel-description>
              {{'Selecciona una' | translate}} {{'Raza' | translate}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-form-field>
            <mat-label>{{'Selecciona una' | translate}} {{'Raza' | translate}}</mat-label>
            <mat-select class="w100" [(ngModel)]="publication.idBreed" name="breed" >
              <mat-option *ngFor="let breed of Breeds1" [value]="breed.idBreed" class="optBreed">{{breed.breedName}}</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-expansion-panel>
      </mat-accordion>


      <mat-form-field class="w100 mt">
        <mat-label>{{'Peso en' | translate}} kg</mat-label>
        <input matInput type="text" [(ngModel)]="publication.weight" name="weight" id="weight" required>
      </mat-form-field>
      <mat-form-field class="w100">
        <mat-label>{{'Precio' | translate}}</mat-label>
        <input matInput type="text" [(ngModel)]="publication.price" name="price" id="price" required>
      </mat-form-field>
      <mat-form-field class="w100">
        <mat-label>{{'Edad' | translate}}</mat-label>
        <input matInput type="text" [(ngModel)]="publication.age" name="age" id="age" required>
      </mat-form-field>

      <mat-form-field class="w100">
        <mat-label for="exampleFormControlTextarea1">{{'Descripción' | translate}}</mat-label>
        <textarea matInput [(ngModel)]="publication.description" name="description" rows="3" required></textarea>
      </mat-form-field>



      <div class="buttons">
        <a href="PropertyList" class="btn btn-outline-warning w-25  ">{{'Cancelar' | translate}}</a>
        <button type="submit" class="btn btn-outline-success w-25 " (click)="addEdit()">{{title | translate}}</button>
      </div>

    </form>


  </div>
</div>