<div class="content ">
    <form class="form-signin">
        <div class="text-center mb-4">
            <h1 class="h3 mb-3 font-weight-normal">Login to PeTfectMatch 🐎</h1>
            <p>"¡Bienvenido de nuevo! Estás a punto de sumergirte en el emocionante mundo de las 
                coincidencias de animales. 🐾
                ¡Vamos a empezar a hacer coincidir animales! 🐴"</p>
        </div>

        <div class="form-label-group">
            <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required=""
                autofocus="">
            <label for="inputEmail">Email address</label>
        </div>

        <div class="form-label-group">
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
            <label for="inputPassword">Password</label>
        </div>

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block w-100" type="submit" (click)="onClick()">Sign in</button>
        <p class="mt-5 mb-3 text-muted text-center">© 2020-2023</p>
    </form>

</div>